.card { 
    transition: background-color 1s ease, color 1s ease-in-out;
    padding: 10px;
    margin-left: 1%;
    background-color: black;
    cursor: pointer;
    width: 56vmin;
    color: white;
    font-family: 'Georgia', sans-serif;
    justify-content: center;
   
}

.card:hover { 
    background-color: white;
    color: black;
}

