body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #1c1f1f; */
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/2036232456091119246/D22165AD4E0168A028961E896094020059FFA4AD/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
  /* background-size: cover; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

text { 
  color: white;
}


