
.topBar {
    width: 100%;
    background-color: #008593;
    font-family: lato;
    position: fixed;
    display: inline-flex;
}


.inline { 
    display: inline-block;
}


.hoverButtonItems, .hoverButtonEntry {
    border: none;
    background: none;
    overflow: hidden;
    flex-direction: column;
    overflow: hidden;
    transition: height ease 0.2s;
    font-size: 16px;
    transition: background-position 700ms ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    text-align: center;
    color: white;
    text-align: left;
    font-weight: 700;
    width: 100%;    
}
.hoverButtonEntry { 
    background: linear-gradient(#105057 50%, #008593 50%);
    background-position: 0% 100%;
    background-size: 100% 205%;
}

.hoverButtonEntry:hover { 
    background-position: 0% 0%;
}

.hoverButtonItems { 
    background: linear-gradient(to right,  #105057 50%,#008593 50%);
    background-position: 100% 0%;
    background-size: 205% 100%;
}

.hoverButtonItems:hover { 
    background-position: 0% 0%;
}

.hoverButton {
    list-style: none;
    width: auto;
    height: 10%;
}
